In [2]:
#JEM207 midterm Tom치코 Fencl, 29th November 2021

import numpy as np
import pandas as pd
import time
import requests
import json
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
from IPython.core.display import HTML, display

In [7]:
url = "https://ies-midterm.soulution.rocks/login"
auth = {"cuni":"59887895"}
req = requests.post(url,json=auth).json()
req

{'data': {'personal_code': '94c6b733',
  'dataset_ids': ['779ce2818b',
   '5df3513c79',
   '8c34bdfc03',
   '288b147f95',
   '7be200ce5b',
   'f561ba0da6']},
 'message': 'Hello, Fencl Tom치코! Good luck with the midterm. GET your data set from /data/file_id endpoint; use the codes you received in the data response as the file_id parameter! Print the personal code in your notebook.'}

In [8]:
print("personal_code is: "+req["data"]["personal_code"])

personal_code is: 94c6b733

In [9]:
idcodes = req["data"]["dataset_ids"]
mydata_witherr = []                               
for i in idcodes:
    part = requests.get(f"https://ies-midterm.soulution.rocks/data/{i}").json()
    mydata_witherr.append(part)
df_witherr = pd.DataFrame(mydata_witherr)
#print(df_witherr.head()) #I have error in data ("_witherr"), gotta handle that
print(df_witherr.iloc[1]["message"]) #this is the error message

In [11]:
mydata = []
errormess = {"data": {}, "message": "Error [503] - Sorry, I just slipped and fell. Thank God, I am made of silicon. You need to work this out."}
for i in idcodes:
    finderr = requests.get(f"https://ies-midterm.soulution.rocks/data/{i}").text == errormess
    while finderr:
        part = requests.get(f"https://ies-midterm.soulution.rocks/data/{i}").json()
    mydata.append(part)

                                                data message
0  {'company': 'CRH', 'data': [{'Date': '2019-01-...
1  {'company': 'CRH', 'data': [{'Date': '2019-01-...
2  {'company': 'CRH', 'data': [{'Date': '2019-01-...
3  {'company': 'CRH', 'data': [{'Date': '2019-01-...
4  {'company': 'CRH', 'data': [{'Date': '2019-01-...

In [15]:
datastr = str(mydata[5])
data_final=eval(datastr)
pd.DataFrame(data_final["data"]["data"])

,Date,Open,High,Low,Close,Adj.Close,Volume
0,2019-01-02,26.030000686645508,26.5,25.989999771118164,26.389999389648438,24.962018966674805,742700
1,2019-01-03,26.190000534057617,26.309999465942383,25.809999465942383,26.049999237060547,24.640417098999023,814000
2,2019-01-04,27.049999237060547,27.6200008392334,26.93000030517578,27.549999237060547,26.059249877929688,951100
3,2019-01-07,27.06999969482422,27.510000228881836,26.93000030517578,27.350000381469727,25.870073318481445,837300
4,2019-01-08,27.690000534057617,27.739999771118164,27.309999465942383,27.510000228881836,26.02141571044922,548600
...,...,...,...,...,...,...,...
474,2020-11-17,39.779998779296875,40.13999938964844,39.38999938964844,40.099998474121094,40.099998474121094,268500
475,2020-11-18,40.439998626708984,40.58000183105469,39.95000076293945,39.959999084472656,39.959999084472656,260600
476,2020-11-19,39.56999969482422,39.83000183105469,39.27000045776367,39.779998779296875,39.779998779296875,263100
477,2020-11-20,39.47999954223633,39.869998931884766,39.40999984741211,39.65999984741211,39.65999984741211,250600
478,,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#I could not do more in a time

In [17]:
#I forgot dropna the data